* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #141414;
}

.container {
  margin: 10px auto;
  width: 80%;
  min-height: 600px;
  border: 1px solid #aaa;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* column-gap: 50px;
  row-gap: 50px; */
  gap: 50px;
}

.box {
  width: 200px;
  height: 250px;
  background-color: #ccc;
  margin: 0 20px;
}

/* 1 Versão com flex-grow */
/* .box-1 {
  flex-grow: 1;
}
.box-2 {
  flex-grow: 2;
}
.box-3 {
  flex-grow: 0;
} */

/* 2 Versão com flex-basis */
/* .box-1 {
  flex-basis: 120px;
}
.box-2 {
  flex-basis: 200px;
}
.box-3 {
  flex-basis: 480px;
} */

/* 3 Versão com order */

/* .box-1 {
  order: 2;
}
.box-2 {
  order: 3;
}
.box-3 {
  order: 1;
} */

/* 4 Versão final bruh */
.box-1 {
  order: 1;
}
.box-2 {
  order: 2;
}
.box-3 {
  order: 3;
}
