body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  /* font-style: italic; */
  /* text-decoration: line-through; */
  /* text-transform: capitalize; */
  /* word-spacing: 15px; */
  /* letter-spacing: 5px; */
  line-height: 40px;
}
