* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0f0f0f;
}

.container {
  width: 80%;
  min-height: 900px;
  margin: 20px auto;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin: 20px;
}
