* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  min-height: 900px;
  margin: 20px auto;
  border: 1px solid #333;
  display: flex;
  /* align-items: center; */
  /* align-items: stretch; */
  align-items: baseline;
}

.box {
  width: 200px;
  /* height: 200px; */
  background-color: #ccc;
  margin: 20px;
}
